version: '3'

services:
  gerrit:
    image: gerritcodereview/gerrit
    environment:
      CANONICAL_WEB_URL: {{ gerrit_canonical_url }}
    ports:
      - "29418:29418"
      - "80:8080"
    links:
      - postgres
    depends_on:
      - postgres
    volumes:
     - {{ gerrit_home }}/data/gerrit/etc:/var/gerrit/etc
     - {{ gerrit_home }}/data/gerrit/git:/var/gerrit/git
     - {{ gerrit_home }}/data/gerrit/index:/var/gerrit/index
     - {{ gerrit_home }}/data/gerrit/cache:/var/gerrit/cache
     - {{ gerrit_home }}/data/gerrit/plugins:/var/gerrit/plugins
    # uncomment during setup (or docker-compose run gerrit <command>)
    # entrypoint: java -jar /var/gerrit/bin/gerrit.war init -d /var/gerrit

  # start postgres in daemon mode first
  # docker-compose up -d postgres
  # docker-compose logs -f postgres
  postgres:
    image: postgres:9.6
    environment:
      - POSTGRES_USER={{ gerrit_postgres_user }}
      - POSTGRES_PASSWORD={{ gerrit_postgres_password }}
      - POSTGRES_DB=reviewdb
    volumes:
      - {{ gerrit_home }}/data/postgres:/var/lib/postgresql/data
