{% import "run_macros.html" as run_macros %}

{% extends "layout.html" %}
{% block title -%} {{ version }} metrics {%- endblock %}

{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
  <script>

    window.onload = function() {
      var div = document.getElementById('plot')

      {% for trace in trace_list -%}

      var trace_{{ trace.name | to_ident }} = {
        type: 'scatter',
        name: '{{ trace.name }}',
        x: [{% for point in trace.points -%} "{{ point.x }}", {% endfor %}],
        y: [{% for point in trace.points -%} {{ point.y }}, {% endfor %}],
        text: [{% for point in trace.points -%} '{{ point.text | format_timedelta }}', {% endfor %}],
        mode: 'lines+markers',
        textposition: 'top',
        hoverinfo: 'x+text',
      };

      {% endfor -%}

      var data = [ {%- for trace in trace_list -%} trace_{{ trace.name | to_ident }}, {% endfor -%} ];
      var layout = {
        title: 'Servers merge time by build version',
        xaxis: { title: 'Build version' },
        yaxis: { title: 'Merge times' },
      }
      Plotly.plot(div, data, layout);
    }

    window.addEventListener('resize', function() {
      var div = document.getElementById('plot');
      Plotly.Plots.resize(div);
      });

  </script>
{% endblock head %}

{% block contents %}

  {{ run_macros.breadcrumbs([
       ('Branches',  url_for('matrix')),
       (branch_name, url_for('branch_platform_list', branch_name=branch_name)),
       (platform_name, url_for('branch_platform_version_list', branch_name=branch_name, platform_name=platform_name)),
  ]) }}

  <h2>{{ self.title() }}</h2>

  <hr>

  <div id="plot">
  </div>

  <hr/>
  {{ run_macros.run_parameters_table(run_parameters) }}

{% endblock contents %}
