{% import "run_macros.html" as run_macros %}
{% import "metric_macros.html" as metric_macros %}

{% extends "layout.html" %}
{% block title -%} {{ version }} metrics {%- endblock %}

{% block head %}

  {{ super() }}
  <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
  <script>

    window.onload = function() {

      {{ metric_macros.plot_data('merge_duration', merge_duration_traces, 'lines+markers') }}

      var layout = {
        title: 'Servers merge time by build version',
        xaxis: { title: 'Build version' },
        yaxis: { title: 'Merge times, sec' },
      }
      Plotly.plot(document.getElementById('merge_duration_plot'), merge_duration_data, layout);

      {{ metric_macros.plot_data('total_bytes_sent', total_bytes_sent_traces, 'lines+markers') }}

      var layout = {
        title: 'Total bytes sent by build version',
        xaxis: { title: 'Build version' },
        yaxis: { title: 'Total bytes sent' },
      }
      Plotly.plot(document.getElementById('total_bytes_sent_plot'), total_bytes_sent_data, layout);
    }

    window.addEventListener('resize', function() {
      Plotly.Plots.resize(document.getElementById('merge_duration_plot'));
      Plotly.Plots.resize(document.getElementById('total_bytes_sent_plot'));
    });

  </script>

{% endblock head %}

{% block contents %}

  {{ run_macros.breadcrumbs([
       ('Branches',  url_for('matrix')),
       (branch_name, url_for('branch_platform_list', branch_name=branch_name)),
       (platform_name, url_for('branch_platform_version_list', branch_name=branch_name, platform_name=platform_name)),
  ]) }}

  <h2>{{ self.title() }}</h2>

  <hr>

  <div id="merge_duration_plot">
  </div>
  <div id="total_bytes_sent_plot">
  </div>

  <hr/>
  {{ run_macros.run_parameters_table(run_parameters) }}

{% endblock contents %}
