{% import "common_macros.html" as common_macros %}
{% import "metrics_macros.html" as metrics_macros %}

{% extends "layout.html" %}
{% block title -%} Server build {{ version }} metrics {%- endblock %}

{% block head %}

  {{ super() }}
  <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
  <script>

    {% for div_id_prefix, trace_list in [
          ('lws', lws_traces),
          ('full', full_traces),
          ] %}

      {% call metrics_macros.plotly_plot(
            div_id_prefix + '_merge_duration_plot', trace_list.merge_duration, 'lines+markers+text') %}
        title: 'Servers merge time by server count',
        xaxis: { title: 'Server count' },
        yaxis: { title: 'Merge and other times, sec' },
        {% if trace_list.has_total_bytes_sent %}
          yaxis2: {
            title: 'Total bytes sent',
            overlaying: 'y',
            side: 'right',
          },
        {% endif %}
      {% endcall %}

      {% call metrics_macros.plotly_plot(
            div_id_prefix + '_host_memory_usage_plot', trace_list.host_memory_usage, 'lines+markers+text') %}
        title: 'Host memory usage by server count',
        xaxis: { title: 'Server count' },
        yaxis: { title: 'Memory usage' },
      {% endcall %}

    {% endfor %}

  </script>

{% endblock head %}

{% block contents %}

  {{ common_macros.breadcrumbs([
      ('Branches',  url_for('matrix')),
      (branch_name, url_for('branch_platform_list', branch_name=branch_name)),
      (platform_name, url_for('branch_platform_version_list', branch_name=branch_name, platform_name=platform_name)),
      (version, url_for('branch_platform_version_run_list', branch_name=branch_name, platform_name=platform_name, version=version)),
  ]) }}

  <h2>{{ self.title() }}</h2>

  <hr>

  <h3>Using lightweight servers</h3>

  <div id="lws_merge_duration_plot"></div>
  <div id="lws_host_memory_usage_plot"></div>

  <h3>Using full mediaservers</h3>

  <div id="full_merge_duration_plot"></div>
  <div id="full_host_memory_usage_plot"></div>

  <hr/>
  {{ metrics_macros.run_parameters_table(run_parameters) }}


{% endblock contents %}
