{% import "common_macros.html" as common_macros %}
{% import "metrics_macros.html" as metrics_macros %}

{% extends "layout.html" %}
{% block title -%} {{ version }} Server scalability metrics {%- endblock %}

{% block head %}

  {{ super() }}
  <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
  <script>

    {% for div_id_prefix, trace_list in [
          ('lws', lws_traces),
          ('full', full_traces),
          ] %}

      {% call metrics_macros.plotly_plot(div_id_prefix + '_merge_duration_plot', trace_list.merge_duration, 'lines+markers') %}
        title: 'Servers merge time by build version',
        xaxis: { title: 'Build version' },
        yaxis: { title: 'Merge times, sec' },
      {% endcall %}

      {% call metrics_macros.plotly_plot(div_id_prefix + '_total_bytes_sent_plot', trace_list.total_bytes_sent, 'lines+markers') %}
        title: 'Total bytes sent by build version',
        xaxis: { title: 'Build version' },
        yaxis: { title: 'Total bytes sent' },
      {% endcall %}

      {% call metrics_macros.plotly_plot(div_id_prefix + '_memory_usage_plot', trace_list.memory_usage, 'lines+markers') %}
        title: 'Host memory usage by build version',
        xaxis: { title: 'Build version' },
        yaxis: { title: 'Memory usage' },
      {% endcall %}

    {% endfor %}

  </script>

{% endblock head %}

{% block contents %}

  {{ common_macros.breadcrumbs([
       ('Branches',  url_for('matrix')),
       (branch_name, url_for('branch_platform_list', branch_name=branch_name)),
       (platform_name, url_for('branch_platform_version_list', branch_name=branch_name, platform_name=platform_name)),
  ]) }}

  <h2>{{ self.title() }}</h2>

  <hr>

  <h3>Using lightweight servers</h3>

  <div id="lws_merge_duration_plot"></div>
  <div id="lws_total_bytes_sent_plot"></div>
  <div id="lws_memory_usage_plot"></div>

  <h3>Using full mediaservers</h3>

  <div id="full_merge_duration_plot"></div>
  <div id="full_total_bytes_sent_plot"></div>
  <div id="full_memory_usage_plot"></div>

  <hr/>
  {{ metrics_macros.run_parameters_table(run_parameters) }}

{% endblock contents %}
