{# unused template #}

{% import "run_macros.html" as run_macros %}

{% extends "layout.html" %}
{% block title %}{{ branch_name }} / {{ platform_name }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='run.css') }}">
{% endblock head %}


{% block contents %}

  <a href="{{ url_for('branch_list') }}">Branches</a>

  <h2>{{ branch_name }} / {{ platform_name }}</h2>

  <hr>

  <div>
    <ul>
      {{ run_macros.run_box_children(run_node_list, 'top-level-box') }}
    </ul>
  </div>

{% endblock contents %}
