{% import "common_macros.html" as common_macros %}
{% import "run_macros.html" as run_macros %}

{% extends "layout.html" %}
{% block title %}{{ branch_name }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='run.css') }}">
{% endblock head %}

{% block contents %}

  {{ common_macros.breadcrumbs([('Branches',  url_for('branch_list')) ]) }}

  <h2>{{ self.title() }}</h2>

  <hr>

  {% call(element) run_macros.outcome_box_list(platform_list) %}
    <a class="link"
       href="{{ url_for('branch_platform_version_list', branch_name=branch_name, platform_name=element.platform_name) }}">
       {{ element.platform_name }}
    </a>
    {% if element.has_scalability %}
      <a class="link" href="{{ url_for('branch_platform_metrics', branch_name=branch_name, platform_name=element.platform_name) }}">Scalability</a>
    {% else %}
      <span class="disabled-link">Scalability</span>
    {% endif %}
  {% endcall %}

{% endblock contents %}
