{% import "run_macros.html" as run_macros %}
{% import "metric_macros.html" as metric_macros %}

{% extends "layout.html" %}
{% block title -%} {{ version }} metrics {%- endblock %}

{% block head %}

  {{ super() }}
  <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
  <script>

    window.onload = function() {
      var div = document.getElementById('plot')

      {{ metric_macros.plot_data('plot', trace_list, 'lines+markers+text') }}

      var layout = {
        title: 'Servers merge time by server count',
        xaxis: { title: 'Server count' },
        yaxis: { title: 'Merge and other times, sec' },
        yaxis2: {
          title: 'Total bytes sent',
          overlaying: 'y',
          side: 'right',
        },
      }
      Plotly.plot(div, plot_data, layout);
    }

    window.addEventListener('resize', function() {
      var div = document.getElementById('plot');
      Plotly.Plots.resize(div);
    });

  </script>

{% endblock head %}

{% block contents %}

  {{ run_macros.breadcrumbs([
  ('Branches',  url_for('matrix')),
  (branch_name, url_for('branch_platform_list', branch_name=branch_name)),
  (platform_name, url_for('branch_platform_version_list', branch_name=branch_name, platform_name=platform_name)),
  (version, url_for('branch_platform_version_run_list', branch_name=branch_name, platform_name=platform_name, version=version)),
  ])
  }}

  <h2>{{ self.title() }}</h2>

  <hr>

  <div id="plot">
  </div>

  <hr/>
  {{ run_macros.run_parameters_table(run_parameters) }}

{% endblock contents %}
