{% import "common_macros.html" as common_macros %}
{% import "build_macros.html" as build_macros %}

{% extends "layout.html" %}
{% block title -%} {{ project_name }} / {{ branch_name }} / {{ build.version }} {%- endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build.css') }}">
{% endblock head %}


{% block contents %}

    {{ common_macros.breadcrumbs([
      ('Projects',  url_for('project_list')),
      (project_name + ' / ' + branch_name, url_for('branch', project_name=project_name, branch_name=branch_name)),
    ]) }}

    <h2>{{ build.version }}</h2>
    <hr>

    <div class="build-info">
      <div>
        <div class="title">Started at</div>
        <div class="markup-value">{{ started_at|format_datetime }}</div>
      </div>
      {% if build.version %}
        <div>
          <div class="title">Version</div>
          <div class="value">{{ build.version }}</div>
        </div>
      {% endif %}
      {% if build.revision %}
        <div>
          <div class="title">Revision</div>
          <div class="value">{{ repository }} #{{ build.revision|decorate_revision(build.repository_url) }}</div>
        </div>
      {% endif %}
      {% if build.is_incremental is not none %}
        <div>
          <div class="title">Build</div>
          <div class="value"> {%- if build.is_incremental -%} Incremental {%- else -%} Full {%- endif -%} </div>
        </div>
      {% endif %}
      {% if build.jenkins_url %}
        <div>
          <div class="title">Jenkins page</div>
          <div class="value">
            <a href="{{ build.jenkins_url }}">Build #{{ jenkins_build_num }}</a>
          </div>
        </div>
      {% endif %}
      {% if build.cloud_group %}
        <div>
          <div class="title">Cloud group</div>
          <div class="value">{{ build.cloud_group.name }}</div>
        </div>
      {% endif %}
      {% if build.configuration %}
        <div>
          <div class="title">Configuration</div>
          <div class="value">{{ build.configuration }}</div>
        </div>
      {% endif %}
      {% if build.customization %}
        <div>
          <div class="title">Customization</div>
          <div class="value">{{ build.customization.name }}</div>
        </div>
      {% endif %}
    </div>

    {% if changeset_list %}
      <div class="commit-block block">
        <h3>Commits</h3>
        {{ common_macros.changeset_list(changeset_list) }}
      </div>
    {% endif %}


    {{ build_macros.build_platform_list(platform_list) }}

{% endblock contents %}
