{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "common_macros.html" as common_macros %}

{% block title %}Test statistics{% endblock %}

{% block head %}
  {{ super() }}
  <link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fail_stats.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='matrix.css') }}">
{% endblock %}

{% block content %}

  {% if project and branch %}
  {{ common_macros.breadcrumbs([
       ('Projects',  url_for('project_list')),
       (project + ' / ' + branch, url_for('branch', project_name=project, branch_name=branch))
  ]) }}
  {% else %}
  {{ common_macros.breadcrumbs([
       ('Projects',  url_for('project_list'))
    ]) }}
  {% endif %}

  <h2>Statistic of fails</h2>
      <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        <table class="test-select-form">
            <tr>
                <td>{{ form.project.label }}</td>
                <td>{{ form.project }}</td>
                <td>{{ form.branch.label }}</td>
                <td>{{ form.branch }}</td>
                <td>{{ form.platform.label }}</td>
                <td>{{ form.platform }}</td>
                <td>{{ form.test_bundle.label }}</td>
                <td>{{ form.test_bundle }}</td>
                <td>{{ form.date_from.label }}</td>
                <td><div class="row"><div class="col-md-6">{{ form.date_from }}</div></div></td>
                <td>{{ form.date_to.label }}</td>
                <td><div class="row"><div class="col-md-6">{{ form.date_to }}</div></div></td>
                <td><input class="btn btn-primary" type="submit" value="Go"></td>
            </tr>
            {% for field_name, field_errors in form.errors.items() if field_errors %}
              {% for error in field_errors %}
              <tr>
                  <td><font color='red'>{{ field_name }}</font></td>
                  <td colspan='12'><font color='red'>{{ error }}</font></td>
              </tr>
              {% endfor %}
            {% endfor %}
        </table>
       </form>
  <div class="total-records"><b>Total records: {{ total_records }}</b></div>
  <hr>

  <div class="main">
  {% if failed_tests %}
    <table class="fail-list">
       <thead>
          <tr>
            <th class="axiz">Test name</th>
            <th class="axiz">Last failed build</th>
            <th class="axiz">Fails</th>
          </tr>
        </thead>
       <tbody>
       {% for rec in failed_tests %}
         <tr>
           <td class="fail-list-cell">
              <a class="test-link"
                 href="{{ url_for('run', run_id=rec.last_root_run, _anchor=rec.last_run_id) }}">
                  {{- rec.path -}}
              </a>
           </td>
           <td class="fail-list-cell" align="center">
              <a href="{{ url_for('build',
              project_name=project, branch_name=branch, build_num=rec.last_build_num ) }}">
                  {{- rec.last_build_num -}}
              </a>
           </td>
           <td class="fail-list-cell" align="center">
               <b>{{- rec.fail_count -}}</b>
           </td>
         </tr>
       {% endfor %}
       </tbody>
     </table>

   <hr>

    {% call(page) common_macros.paginator(paginator) %}
      {{ url_for('fail_stats',
         date_from=form.date_from.data, date_to=form.date_to.data,
         project=form.project.data, platform=form.platform.data,
         branch=form.branch.data, bundle=form.test_bundle.data, page=page) }}
    {% endcall %}
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='ajax.js') }}"></script>
  <script src="{{ url_for('static', filename='moment.js') }}"></script>
  <script src="{{ url_for('static', filename='moment-timezone-with-data.js') }}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#datefrom').datetimepicker({format: 'YYYY MMM DD'});
      $('#dateto').datetimepicker({format: 'YYYY MMM DD'});
    });
  </script>
{% endblock %}
