
{% macro run_link(name, rec) %}

  <div class="tests-block" align="center">
    {% if rec.run %}
      <a href="{{ url_for('run', run_id=rec.run.id) }}"
         class="outcome outcome-{{ rec.run.outcome|default('not-run', true) }} has-run">
         {{ name }}
      </a>
    {% else %}
      <a class="outcome outcome-not-run">
         {{ name }}
      </a>
    {% endif %}
    {% if rec.test_count %}
      <div class="test-counts">
        {% if rec.run %}
          <span class="passed">
            {%- if rec.test_count.passed -%}
              {{ rec.test_count.passed }}
            {%- else -%}
              0
            {%- endif -%}
          </span>&nbsp/&nbsp<span class="failed">
            {%- if rec.test_count.failed -%}
              {{ rec.test_count.failed }}
            {%- else -%}
              0
            {%- endif -%}
          </span>
        {% else %}
          <span>&nbsp</span>
        {% endif %}
      </div>
    {% endif %}
  </div>

{% endmacro %}


{% macro outcome_box_list(list) %}
  <div>
    {% for element in list %}
      <div class="top-level-box">
        <div class="list-row-box">
          {{ caller(element) }}
          <div class="started-at-block">
            <span class="datetime">
              {{ element.started_at|format_datetime(precise=False)|default('-', true) }}
            </span>
          </div>
          {{ run_link('build', element.build) }}
          {{ run_link('unit', element.unit) }}
          {{ run_link('functional', element.functional) }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}


{% macro matrix_cell(element) %}
  <div class="top-level-box">
    <div class="datetime">
      {{ element.started_at|format_datetime(precise=False)|default('&nbsp;')|safe }}
    </div>
    <div>
      {{ run_link('build', element.build if element else None) }}
      {{ run_link('unit', element.unit if element else None) }}
      {{ run_link('functional', element.functional if element else None) }}
    </div>
  </div>
{% endmacro %}
