
{% macro run_link(name, rec) %}

  <div class="tests-block" align="center">
    {% if rec.run %}
      {% set build = rec.run.build %}
      {% if rec.run.customization %}
        {% set customization_name = rec.run.customization.name %}
      {% else %}
        {% set customization_name = 'none' %} {# webadmin build has no customization #}
      {% endif %}
      <a href="{{ url_for('platform_stage',
                          project_name=build.project.name, branch_name=build.branch.name, build_num=build.build_num,
                          customization_name=customization_name, platform_name=rec.run.platform.name, stage_name=rec.run.name) }}"
         class="outcome outcome-{{ rec.run.outcome|default('not-run', true) }} has-run">
         {{ name }}
      </a>
    {% else %}
      <a class="outcome outcome-not-run">
         {{ name }}
      </a>
    {% endif %}
    {% if rec.test_count %}
      <div class="test-counts">
        {% if rec.run %}
          <span class="passed">
            {%- if rec.test_count.passed -%}
              {{ rec.test_count.passed }}
            {%- else -%}
              0
            {%- endif -%}
          </span>&nbsp/&nbsp<span class="failed">
            {%- if rec.test_count.failed -%}
              {{ rec.test_count.failed }}
            {%- else -%}
              0
            {%- endif -%}
          </span>
        {% else %}
          <span>&nbsp</span>
        {% endif %}
      </div>
    {% endif %}
  </div>

{% endmacro %}


{% macro platform_box(element, stages) %}
  <div class="platform-box">
    <div class="datetime">
      {{ element.started_at|format_datetime(precise=False)|default('&nbsp;')|safe }}
    </div>
    <div>
      {% for stage in stages %}
        {{ run_link(stage.short_name, element.stages[stage.name]
           if element else None) }}
      {% endfor %}
    </div>
  </div>
{% endmacro %}


{% macro platform_width_class(platform_list) %}
  {%- if platform_list|length <= 5 -%}
    platforms-narrow
  {%- else -%}
    platforms-wide
  {%- endif -%}
{% endmacro %}
