
{% macro plot_data(name, trace_list, mode) %}

  {% for trace in trace_list -%}

      var {{ name }}_trace_{{ trace.name|to_ident }} = {
        type: 'scatter',
        name: '{{ trace.name }}',
        x: [{% for point in trace.points -%} "{{ point.x }}", {% endfor %}],
        y: [{% for point in trace.points -%} {{ point.y if point.y is not none else 'null' }}, {% endfor %}],
        text: [{% for point in trace.points -%} {% if point.text -%}"{{ point.text }}" {%- else -%} null {%- endif %}, {% endfor %}],
        mode: '{{ mode }}',
        textposition: 'top',
        hoverinfo: 'x+text+name',
        visible: {% if trace.visible -%} true {%- else -%} 'legendonly' {%- endif %},
        connectgaps: true,
        {% if trace.yaxis -%}
          yaxis: '{{ trace.yaxis }}',
        {%- endif %}
      };

  {% endfor -%}

  var {{ name }}_data = [
    {%- for trace in trace_list -%}
      {{ name }}_trace_{{ trace.name|to_ident }},
    {% endfor -%}
  ];

{% endmacro %}
