
{% macro plotly_plot(div_id, trace_list, mode) %}
{# to be included inside <script> element #}


  window.addEventListener('load', function() {

    {% for trace in trace_list -%}

      var trace_{{ trace.name|to_ident }} = {
        type: 'scatter',
        name: '{{ trace.name }}',
        x: [{% for point in trace.points -%} "{{ point.x }}", {% endfor %}],
        y: [{% for point in trace.points -%} {{ point.y if point.y is not none else 'null' }}, {% endfor %}],
        text: [{% for point in trace.points -%} {% if point.text -%}"{{ point.text }}" {%- else -%} null {%- endif %}, {% endfor %}],
        mode: '{{ mode }}',
        textposition: 'top',
        hoverinfo: 'x+text+name',
        visible: {% if trace.visible -%} true {%- else -%} 'legendonly' {%- endif %},
        connectgaps: true,
        {% if trace.yaxis -%}
          yaxis: '{{ trace.yaxis }}',
        {%- endif %}
      };

    {% endfor -%}

    var traces_data = [
      {%- for trace in trace_list -%}
        trace_{{ trace.name|to_ident }},
      {% endfor -%}
    ];

    var layout = {
      {{- caller() -}}
    };

    var plot = document.getElementById("{{ div_id }}");

    Plotly.plot(plot, traces_data, layout);

  });


  window.addEventListener('resize', function() {
    Plotly.Plots.resize(document.getElementById("{{ div_id }}"));
  });


{% endmacro %}


{% macro plotly_source_ref(project_name, branch_name, platform_name, div_id) %}

  window.addEventListener('load', function() {

    var plot = document.getElementById("{{ div_id }}");

    plot.on('plotly_click', function(data) {
      if (data.points.length > 0) {
        var build_num = data.points[0].x.toString();
        var url_template = "{{ url_for('build_platform_metrics',
                                        project_name=project_name, branch_name=branch_name,
                                        build_num='-build-num-', platform_name=platform_name) }}";
        var url = url_template.replace('-build-num-', build_num);
        window.open(url);
      }
    });
  });

{% endmacro %}


{% macro run_parameters_table(run_parameters) %}
  {% if run_parameters %}
    <div>
      <table class="parameters">
        <tr>
          <th>Parameter</th>
          <th>Values</th>
        </tr>
        {%- for param in run_parameters %}
          <tr>
            <td>{{ param.name }}</td>
            <td>
              {%- for value in param.value_list -%}
                {{ value }}
                {%- if not loop.last %}, {% endif -%}
              {%- endfor -%}
            </td>
          </tr>
        {%- endfor %}
      </table>
    </div>
  {% endif %}
{% endmacro %}
