{% import "common_macros.html" as common_macros %}
{% import "run_macros.html" as run_macros %}

{% extends "layout.html" %}
{% block title %}{{ platform_name }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='run.css') }}">
    {% endblock head %}

 {% block contents %}

 {{ common_macros.breadcrumbs([('Branches',  url_for('matrix')) ]) }}

 <h2>{{ self.title() }}</h2>

  <hr>

 {% call(element) run_macros.outcome_box_list(branch_list) %}
     <a class="link"
            href="{{ url_for('branch_platform_version_list', branch_name=element.branch_name, platform_name=platform_name) }}">
            {{ element.branch_name }}
     </a>
 {% endcall %}


{% endblock contents %}
