{% import "common_macros.html" as common_macros %}
{% import "build_macros.html" as build_macros %}

{% extends "layout.html" %}
{% block title -%} {{ build.project.name }} / {{ build.branch.name }} / {{ build.build_num }} {%- endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build.css') }}">
{% endblock head %}


{% block contents %}


  {{ common_macros.breadcrumbs([
    ('Projects',  url_for('project_list')),
    (build.project.name, url_for('project', project_name=build.project.name)),
    (build.branch.name, url_for('branch', project_name=build.project.name, branch_name=build.branch.name)),
    (build.build_num, url_for('build', project_name=build.project.name, branch_name=build.branch.name, build_num=build.build_num)),
    (platform.name, url_for('platform_build',
                            project_name=build.project.name,
                            branch_name=build.branch.name,
                            build_num=build.build_num,
                            customization_name=customization.name,
                            platform_name=platform.name)),
  ]) }}

  <h2>{% if customization %}{{ customization.name }} / {% endif %} {{ platform.name }} / {{stage_name}}</h2>
  <hr>

  {{ build_macros.build_info_block(build, started_at) }}
  {{ build_macros.changeset_list_block(changeset_list) }}
  {{ build_macros.build_platform_block(platform, show_succeeded_builds=True) }}

{% endblock contents %}
