{% import "common_macros.html" as common_macros %}

{% extends "layout.html" %}
{% block title %}Projects{% endblock %}

{% block contents %}

<h2>Projects</h2>
<hr>

<table class="project-list platforms-narrow}}">
    <tbody>
    {% for project in project_list %}
    <tr>
        <td class="axiz">
            <a class="link"
               href="{{ url_for('project', project_name=project.name) }}">
                {{ project.name }}
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contents %}