{% import "common_macros.html" as common_macros %}
{% import "matrix_macros.html" as matrix_macros %}
{% import "build_macros.html" as build_macros %}

{% extends "layout.html" %}
{% block title -%} {{ build.project.name }} / {{ build.branch.name }} / {{ build.build_num }} {%- endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='matrix.css') }}">
{% endblock head %}


{% block contents %}

  {{ common_macros.breadcrumbs([
    ('Projects',  url_for('project_list')),
    (build.project.name + ' / ' + build.branch.name, url_for('branch', project_name=build.project.name, branch_name=build.branch.name)),
  ]) }}

  <h2>{{ build.build_num }}</h2>
  <hr>

  {{ build_macros.build_info_block(build, started_at) }}
  {{ build_macros.changeset_list_block(changeset_list) }}

  {% if not customization_list %}

    <p>No runs executed yet</p>

  {% else %}

    <table class="project-list {{ matrix_macros.platform_width_class(platform_list) }}">
      <thead>
        <tr>
          <th>Customization</th>
          {% for platform in platform_list %}
            <th class="axiz">
              {{ platform.name }}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in customization_list %}
          <tr>
            <td class="axiz">
              {{ row.customization.name }}
            </td>
            {% for platform in platform_list %}
              <td>
                {{ matrix_macros.platform_box(row.platform2cell.get(platform), stages) }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endif %}


{% endblock contents %}
