{% import "common_macros.html" as common_macros %}
{% import "run_macros.html" as run_macros %}

{% extends "layout.html" %}
{% block title %}{{ run_node.run.branch.name }} / {{ run_node.run.platform.name }} / {{ run_name }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='run.css') }}">
{% endblock head %}


{% block contents %}

  {{ common_macros.breadcrumbs([
       ('Branches',  url_for('matrix')),
       ('Runs', url_for('run_list')) ]) }}

  <h2>{{ self.title() }}</h2>

  <hr>

  <div class="run top-level-box">
    {{ run_macros.run_box(run_node, expand_level=1) }}
  </div>

{% endblock contents %}
