{% import "common_macros.html" as common_macros %}
{% import "run_macros.html" as run_macros %}

{% extends "layout.html" %}
{% block title %}Run #{{ run_id }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='run.css') }}">
  <script>
    window.addEventListener('load', function() {
      ensure_run_is_visible(window.location.hash);
    });
  </script>
{% endblock head %}


{% block contents %}

  {% set customization_name = run.customization.name if run.customization else '<customization is not set>' %}
 
  {{ common_macros.breadcrumbs([
    ('Projects',  url_for('project_list')),
    (build.project.name + ' / ' + build.branch.name, url_for('branch', project_name=build.project.name, branch_name=build.branch.name)),
    (build.build_num, url_for('build', project_name=build.project.name, branch_name=build.branch.name, build_num=build.build_num)),
    (customization_name + ' / ' + run.platform.name,
        url_for('platform_build', project_name=build.project.name, branch_name=build.branch.name, build_num=build.build_num,
        customization_name=customization_name, platform_name=run.platform.name)),
  ]) }}

  <h2> {{ run.name }}</h2>

  <hr>

  <div class="run top-level-box">
    {{ run_macros.run_box(run_node, expand_level=1) }}
  </div>

{% endblock contents %}
