
{% macro run_box(node, box_class='', expand_level=0) %}

  <div class="{{ box_class }}">
    <div>

      <a class="link
                {%- if node.run.outcome %} outcome outcome-{{ node.run.outcome|default('not-run', true) }}{% endif -%}
                {%- if node.has_children %} run-expandable
                    {%- if expand_level <= 0 %} run-collapsed{% else %} run-expanded{% endif %}
                    {%- if node.lazy %} run-lazy-children-loading {%- endif -%}
                {%- else %}
                  outcome-leaf
                {%- endif %}"
                {% if node.has_children %}
                  href="#" onclick="return toggle_children_visible(
                      this, {{ node.run.id }}, '{{ url_for('run_children', run_id=node.run.id) }}')"
                {% endif %}
                >
        {% if node.run.name %}
          {{ node.run.name }}
        {% else %}
          {{ node.run.path }}
        {% endif %}
      </a>

      <span class="run-property">{{ node.run.started_at|format_datetime|default('-', true) }}</span>
      {% if node.run.duration is not none %}<span class="run-property">Duration: {{ node.run.duration|format_timedelta }}</span>{% endif %}

      {% if node.artifacts %}
        <span class="artifacts-pane">
          {% for artifact in node.artifacts %}
            <span id="{{ artifact.id }}"
                  class="artifact-button {% if artifact.is_error %}artifact-button-error{% endif %}
                       {%- if artifact.is_inline %} artifact-button-inline {%- else %} artifact-button-link {%- endif %}">
              <a
                {% if artifact.is_inline %}
                  href="#"
                  onclick="return toggle_artifact_visible(this, {{ artifact.id }}, '{{ artifact.name }}', '{{ url_for('get_artifact', artifact_id=artifact.id) }}')"
                {% else %}
                  href="{{ url_for('get_artifact', artifact_id=artifact.id) }}"
                {% endif %}
                >
              {{ artifact.name }}
              </a>
              {% if artifact.is_inline %}
                <a class="permalink" href="{{ url_for('get_artifact', artifact_id=artifact.id) }}">&para;</a>
              {% else %}
                {% if artifact.disposition == 'inline' %}
                  &rarr;
                {% else %}
                  &darr;
                {% endif %}
              {% endif %}
            </span>
          {% endfor %}
        </span>
      {% endif %}

      {% if node.run.root_run is none %}
        <a href="{{ url_for('run', run_id=node.run.id) }}" class="permalink">&para;</a>
      {% endif %}

    </div>

    <div class="ajax-loading-error" style="display: none"></div>
    <div class="artifacts" style="display: none"></div>

    <ul style="{% if expand_level <= 0 -%} display: none {%- endif %}">
      {{ run_box_children(node.children, expand_level=expand_level - 1) }}
    </ul>

  </div>

{% endmacro %}


{% macro run_box_children(node_list, box_class, expand_level=0) %}

  {% for node in node_list %}
    <li id="{{ node.run.id }}" class="run">
      {{ run_box(node, box_class, expand_level) }}
    </li>
  {% endfor %}

{% endmacro %}

{% macro run_link(name, rec) %}

  <div class="tests-block" align="center">
    {% if rec.run %}
      <a href="{{ url_for('run', run_id=rec.run.id) }}"
         class="outcome outcome-{{ rec.run.outcome|default('not-run', true) }} has-run">
         {{ name }}
      </a>
    {% else %}
      <a class="outcome outcome-not-run">
         {{ name }}
      </a>
    {% endif %}
    <div class="test-counts">
      {% if rec.run %}
        <span class="passed">
          {%- if rec.test_count.passed -%}
            {{ rec.test_count.passed }}
          {%- else -%}
            0
          {%- endif -%}
        </span>&nbsp/&nbsp<span class="failed">
          {%- if rec.test_count.failed -%}
            {{ rec.test_count.failed }}
          {%- else -%}
            0
          {%- endif -%}
        </span>
      {% else %}
        <span>&nbsp</span>
      {% endif %}
    </div>
  </div>

{% endmacro %}

{% macro breadcrumbs(breadcrumb_list) %}
  {% for title, href in breadcrumb_list %}
     <a class="link" href="{{ href }}">{{ title }}</a>
     {% if not loop.last %}&nbsp/&nbsp{% endif %}
  {% endfor %}
{% endmacro %}


{% macro outcome_box_list(list) %}
  <div>
    {% for element in list %}
      <div class="top-level-box">
        <div class="list-row-box">
          {{ caller(element) }}
          <div class="started-at-block">
            <span>
              {{ element.started_at|format_datetime(precise=False)|default('-', true) }}
            </span>
          </div>
          {{ run_link('build', element.build) }}
          {{ run_link('unit', element.unit) }}
          {{ run_link('functional', element.functional) }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro run_parameters_table(run_parameters) %}
  {% if run_parameters %}
    <div>
      <table>
        <tr>
          <th>Parameter</th>
          <th>Values</th>
        </tr>
        {%- for param in run_parameters %}
          <tr>
            <td>{{ param.name }}</td>
            <td>
              {%- for value in param.value_list -%}
                {{ value }}
                {%- if not loop.last %}, {% endif -%}
              {%- endfor -%}
            </td>
          </tr>
        {%- endfor %}
      </table>
    </div>
  {% endif %}
{% endmacro %}
