# IDE and misc software files.
.idea
.vs
.vscode
.gradle/

# Precompiled files.
*.pyc

# Build and test output files
/apidoctool/build/
/apidoctool/out_test/

# Helm chart tgz files
workflow_police/**/*.tgz
sign_over_http/dist/**
sign_over_http/*.egg-info/**
sign_over_http/build/**
