{% macro platform_list_as_string(platform_list) %}
  {%- for platform in platform_list -%}
    {{ platform }}
    {%- if not loop.last %}, {% endif -%}
  {%- endfor -%}
{% endmacro -%}

{%- macro test_row(root_run, itr) %}

  <td>
    <a class="test-link" href="{{ url_for('run', run_id=root_run.id, _anchor=itr.run.id) }}">
      {{ itr.test_name }}
    </a>
  </td>
  <td class="outcome {% if itr.succeeded -%} passed {%- else -%} failed {%- endif %}">
    {{- itr.status -}}
  </td>
  <td class="error-message">{{ itr.run.error_message }}</td>
  <td class="output-link">
    {% if itr.output_artifacts.get('stdout') %}
      <a class="link" href="{{ url_for('artifact', artifact_id=itr.output_artifacts['stdout']) }}">
        Output
      </a>
    {% endif %}
  </td>
  <td class="output-link stderr-link">
    {% if itr.output_artifacts.get('stderr') %}
      <a class="link" href="{{ url_for('artifact', artifact_id=itr.output_artifacts['stderr']) }}">
        StdErr
      </a>
    {% endif %}
  </td>
  <td>
    {% for artifact in itr.traceback_list %}
      <a class="link error-link" href="{{ url_for('artifact', artifact_id=artifact.id) }}">
        {{- artifact.short_name -}}
      </a>
    {% endfor %}
  </td>

{% endmacro -%}


{%- if failed_build_platform_list -%}
  Build#{{ build.build_num }} is failed for {{ platform_list_as_string(failed_build_platform_list) }}
{%- elif failed_tests_platform_list -%}
  Tests for build#{{ build.build_num }} are failed for {{ platform_list_as_string(failed_tests_platform_list) }}
{%- else -%}
  Build#{{ build.build_num }} is succeeded
{%- endif %}

<html>
  <head>
    <style>
      .error { color: #C22626; weight: bold; }
      .failed { color: #C22626; }
      .passed { color: #3A911E; }
	  .test-counts { display: inline-block; float: right; }
    </style>
  </head>
  <body>

    {%- if test_mode %}
      <p>Test mode: this email would be sent to the following recipients:<br/>
        {%- if recipient_list -%}
          {%- for email in recipient_list %}
            {{ email }}<br/>
          {%- endfor %}
        {%- else %}
          none (changeset list is empty)
        {% endif -%}
      </p>
    {% endif -%}

    {%- if changeset_list %}
      <p>After these commits:</p>
      <p>
        {%- for changeset in changeset_list|limit_count(10) %}
          {{ changeset.user }} {{ changeset.revision|format_revision(changeset.build.repository_url) }}: {{ changeset.desc|truncate(500)|format_commit_message }} <br/>
        {%- endfor %}
      </p>
    {% endif -%}

    {% for platform in platform_list %}
      <h2 class="platform-name">
        {%- if platform.build_artifact -%}
          <a class="link" href="{{ url_for('run', run_id=platform.build_artifact.run.id) }}">
          {{- platform.name -}}
          </a>
        {%- else -%}
          {{- platform.name -}}
        {%- endif -%}
      </h2>
      <hr>
      <div class="platform-build-blocks">
        {% if platform.build_error_list %}
          <div class="build-block block">
            <h3>
              <a class="link" href="{{ url_for('artifact', artifact_id=platform.build_artifact.id) }}">
                Build errors
              </a>
            </h3>
            <div class="error">
              {% for line in platform.build_error_list %}
                {{- line -}} <br/>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {% for stage in platform.stage_list|sort %}
          <div class="build-block block">
            <h3>
              <a class="link" href="{{ url_for('run', run_id=stage.root_run.id) }}">
              {%- if stage.stage_name == 'unit' -%}
                Unit&nbsp;Tests
              {%- elif stage.stage_name == 'functional' -%}
                Functional&nbsp;Tests
              {%- endif -%}
              </a>
            </h3>
            {% if stage.error_list %}
              <div class="error">
                {% for error in stage.error_list %}
                  {{ error }}<br/>
                {% endfor %}
              </div>
            {% endif %}
            <div class="test-counts">
              <span class="passed">{{ stage.passed_count }}</span>
              {% if stage.failed_count %}
                / <span class="failed">{{ stage.failed_count }}</span>
              {% endif %}
            </div>
            {% if stage.run_list %}
              <table class="test-list">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for run in stage.run_list %}
                    <tr>
                      {{ test_row(stage.root_run, run) }}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}

  </body>
</html>
