{%- import "common_macros.html" as common_macros -%}
{%- import "build_macros.html" as build_macros -%}

{%- macro platform_list_as_string(platform_list) %}
  {%- for platform in platform_list -%}
    {{ platform }}
    {%- if not loop.last %}, {% endif -%}
  {%- endfor -%}
{% endmacro -%}

{%- macro test_row(root_run, itr) %}

  <td>
    <a class="test-link" href="{{ url_for('run', run_id=root_run.id, _anchor=itr.run.id) }}">
      {{ itr.test_name }}
    </a>
  </td>
  <td class="outcome {% if itr.succeeded -%} passed {%- else -%} failed {%- endif %}">
    {{- itr.status -}}
  </td>
  <td class="error-message">{{ itr.run.error_message }}</td>
  <td class="output-link">
    {% if itr.output_artifacts.get('stdout') %}
      <a class="link" href="{{ url_for('artifact', artifact_id=itr.output_artifacts['stdout']) }}">
        Output
      </a>
    {% endif %}
  </td>
  <td class="output-link stderr-link">
    {% if itr.output_artifacts.get('stderr') %}
      <a class="link" href="{{ url_for('artifact', artifact_id=itr.output_artifacts['stderr']) }}">
        StdErr
      </a>
    {% endif %}
  </td>
  <td>
    {% for artifact in itr.traceback_list %}
      <a class="link error-link" href="{{ url_for('artifact', artifact_id=artifact.id) }}">
        {{- artifact.short_name -}}
      </a>
    {% endfor %}
  </td>

{% endmacro -%}

{%- macro title() -%}

  {%- set build_name -%}
    build#{{ build.build_num }}
  {%- endset -%}

  {%- if failed_build_platform_list -%}
    {{ caller(build_name|capitalize) }} is failed for {{ platform_list_as_string(failed_build_platform_list) }}
  {%- elif failed_tests_platform_list -%}
    Tests for {{ caller(build_name) }} are failed for {{ platform_list_as_string(failed_tests_platform_list) }}
  {%- else -%}
    {{ caller(build_name|capitalize) }} is succeeded
  {%- endif -%}

{%- endmacro -%}

[CI] {# make single space #}
{{- build.project.name }} / {{ build.branch.name -}}: {# make single space #}
{%- call(build_name) title() -%}
  {{- build_name -}}
{%- endcall %}

<html>
  <head>
    <style>
      .run-errors, .build-errors { color: #C22626; weight: bold; }
      .failed, .stderr-link a, .error-link { color: #C22626; }
      .passed { color: #3A911E; }
	  .test-counts { font-size: 1.3em; }
      .run-errors { margin: 1em; }
    </style>
  </head>
  <body>

    <h3>
      {{- build.project.name }} / {{ build.branch.name -}}: {# make single space #}
      {% call(build_name) title() -%}
        <a href="{{ url_for('build', project_name=build.project.name, branch_name=build.branch.name, build_num=build.build_num) }}">
          {{- build_name -}}
        </a>
      {%- endcall %}
    </h3>

    {%- if test_mode %}
      <p><i>Test mode: this email would be sent to the following recipients:</i></p>
      <p>
        {%- if recipient_list -%}
          {%- for email in recipient_list %}
            {{ email|escape }}<br/>
          {%- endfor %}
        {%- else %}
          none (changeset list is empty)
        {%- endif %}
      </p>
    {% endif -%}

    {%- if changeset_list %}
      <p>After these commits:</p>
      <p>
        {%- for changeset in changeset_list|limit_count(10) %}
          {{ common_macros.changeset_line(changeset, maxlen=500) }} <br/>
        {%- endfor %}
        {{ '... and %s more ...' % (changeset_list|length - 10) if changeset_list|length > 10 }}
      </p>
    {% endif -%}

    {{ build_macros.build_platform_list(platform_list) }}

  </body>
</html>
