instance-id: {{ libvirt_guest__hostname }}
hostname: "{{ libvirt_guest__hostname }}"
local-hostname: "{{ libvirt_guest__hostname }}"

network-interfaces: |
  auto lo
  iface lo inet loopback

{% for network in networks %}
  auto {{ network.config.name }}
  iface {{ network.config.name }} inet {{ network.config.type }}
  {% if "options" in network.config %}
    {% for prop, value in network.config.options.iteritems() %}
    {{ prop }} {{ value }}
    {% endfor %}
  {% endif %}
{% endfor %}
