#cloud-config
password: password
chpasswd: { expire: False }
ssh_pwauth: True
ssh_authorized_keys: {{ kvm_guest__default_user_ssh_authorized_keys | to_json }}
locale: en_US.UTF-8

users: {{ kvm_guest__initial_users | to_json }}

package_update: false
package_upgrade: false
packages: {{ kvm_guest__initial_packages | to_json }}
