
.version-box {
	display: table;
}

.version-link {
	display: table-cell;
	vertical-align: middle;
	width: 60px;
	padding: 0 30px 0 10px;
}

.tests-block {
	display: inline-block;
}
.test-counts {
	display: block;
	margin: auto;
	width: 40%;
}
.test-counts span {
	font-weight: bold;
}
.test-counts .passed {
	color: #3A911E;
}
.test-counts .failed {
	color: #C22626;
}
