body {
	background-color: #F2F2F2;
	font-family: 'Arial Regular', 'Arial';
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

hr {
	border: none;
	border-top: 1px solid #DDD;
	margin: 20px 0 20px 0;
}

.page {
	font-weight: bold;
	border: 1px solid #DDD;
	padding: 3px 8px;
	border-radius: 4px;
	color: #2592C3;
}
.current-page {
	color: #222;
	background-color: #AAA;
}
.page:hover:not(.current-page) {
	border-color: #555;
	background-color: #DDD;
}

.top-level-box {
	padding: 6px;
	background-color: #FFF;
	margin: 6px;
	border: 1px solid #DDD;
}

.link, .link:visited {
	color:  #2592C3;
}

.outcome {
	font-weight: normal;
	font-style: normal;
	padding: 2px 5px 2px 5px;
	border-radius: 3px;
	text-decoration: none !important;
}
.passed, .outcome-passed, .outcome-passed:visited {
    color: #3A911E;
}
.outcome-passed {
	background-color: #DDFFDD;
}
a.outcome-passed:hover:not(.outcome-leaf) {
	background-color: #AFA;
}
.failed, .outcome-failed, .outcome-failed:visited {
	color: #C22626;
}
.outcome-failed {
	background-color: #FFDDDD;
}
a.outcome-failed:hover:not(.outcome-leaf) {
	background-color: #FAA;
}
.incomplete, .outcome-incomplete, .outcome-incomplete:visited {
    color: #AAAA00;
}
.outcome-incomplete {
	background-color: #EEFFC8;
}
a.outcome-incomplete:hover:not(.outcome-leaf) {
	background-color: #EEFF88;
}
.outcome-not-run {
	color: grey;
}

.permalink {
	color: #DDD;
	margin-left: 10px;
}
.permalink:hover {
	color: #AAA;
}

.list-row-box  {
	display: table;
}

.list-row-box a {
	display: table-cell;
	vertical-align: middle;
	width: 60px;
	padding: 0 30px 0 10px;
}

.started-at-block {
	display:  inline-block;
	margin: 0 10px;
	width: 150px;
}

.started-at-block span {
        font-weight: bold;
    	vertical-align: middle;
        font-size: 12px;
}
