
.outcome-passed.run-expandable {
	border-bottom: 1px dotted #3A911E;
}
.outcome-failed.run-expandable {
	border-bottom: 1px dotted #C22626;
}
.outcome-incomplete.run-expandable {
	border-bottom: 1px dotted #888800;
}

a.run-collapsed::before {
	content: "\002B";  // plus sign
}
a.run-expanded::before {
	content: "\2212";  // minus sign
}

.run-expandable {
	border-bottom: 1px dotted #2592C3;
}

ul {
    list-style: none;
	margin: 1px;
    padding-left: 1px;
    // padding-left: 0px;
}

.top-level-box li {
	padding-left: 5px;
	margin: 10px 10px 10px 1;
	border-left: 1px solid lightgrey;
}

.run-property {
	margin: 0 5px 0 5px;
}

.artifact-button {
	color: black;
	border: 1px solid lightgrey;
	padding: 1px 5px 1px 5px;
	margin-left: 5px;
	border-radius: 3px;
}
.artifact-button-text {
	text-decoration: none;
}
.artifact-button-text:hover {
	border-color: black;
}
.artifact-button-error {
	color: #C22626;
	// background-color: #FFEEEE;
}
.artifact-button-opened {
	background-color: lightgrey;
}

.artifacts {
}

.artifact {
	border: 1px solid #AAAAAA;
	background-color: #EEEEEE;
	border-radius: 3px;
	//
	margin: 0 auto;
	//
	max-width: 90%;
	min-width: inherit;  //
	http://stackoverflow.com/a/16720242;
}
.artifact div {
	max-width: 100%;
	overflow: auto;
	border: none;
	font-family: 'Lucida Console', monospace;
	white-space: pre;
	font-size: 14px;
}
.artifact legend {
	font-size: 90%;
}

.ajax-loading-error {
	border: 1px solid #FFCCCC;
	color: #C22626;
	background-color: #FFDEDE;
	padding: 5px 10px 5px 30px;
	margin: 5px 0;
	border-radius: 5px;
}

/* following classes are used by run_link macros (run_macros.html) */

.tests-block {
	display: inline-block;
	margin: 0 10px;
	width: 100px;
}

.test-counts {
	display: block;
	margin: auto;
}
.test-counts span {
        font-weight: bold;
}

//===================================================================================================

.xrun-list li::before {
	content: "before-li";
	position: absolute;
	left: 10px;
}
.xrun-list li::after {
	content: "after-li";
	position: absolute;
	left: 10px;
}
