.branch {
	//border-collapse: collapse;
	border-spacing: 0 5px;
}

.branch tr {
	padding: 6px;
	background-color: #FFF;
}
.branch th.header-spacer {
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}
.branch th {
	border-right: 1px solid #DDD;
}
.branch td {
}
.branch td.axiz {
	border-left: 1px solid #DDD;
	padding-left: 10px;
}
.branch td.build-num {
	border-left: 1px solid #DDD;
	font-size: 13px;
}
.branch td.changeset-list {
	border-right: 1px solid #DDD;
	font-size: 13px;
}
.branch td, .branch th {
	padding: 5px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.platform-cell {
	border-right: 1px solid #DDD;
}

.branch td div {
	
}

.changeset-list {
	line-height: 120%;
}

.scalability-dynamics-link-block {
	padding: 10px;
	font-size: 15px;
}
.scalability-dynamics-link-block a {
	font-weight: bold;
}

.fail-stats-link-block {
	padding: 10px;
	font-size: 15px;
}

.fail-stats-link-block a {
	font-weight: bold;
	padding: 10px;
}
