.build-info {
	margin: 0 0 10px 0;
}
.build-info > div {
	display: inline-block;
	margin: 5px 30px 5px 0;
}
.build-info .title {
}
.build-info .value, .build-info .markup-value {
	font-size: 110%;
	color: #404040;
}
.build-info .value {
	font-weight: bold;
}

.platform-name {
	margin: 30px 0 0 0;
	font-style: italic;
}
hr {
	margin: 5px 0 10px 0;
}

.platform-build-blocks {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.build-block {
	flex-grow: 1;
	margin-right: 10px;
}
.block {
	padding: 0 0 20px 22px;
	background-color: #FFF;
	border: 1px solid #DDD;
	line-height: 170%;
	font-size: 14px;
	margin-bottom: 10px;
}
.build-block h2 {
	font-size: 1.3em;
	margin: 10px 0;
}

.build-block h3 {
	display: inline-block;
	margin-bottom: 0;
}
.build-block .test-counts {
	display: inline-block;
	float: right;
	padding: 20px 20px 0 20px;
	font-size: 1.3em;
	font-weight: bold;
}
.build-block .test-list {
	margin-top: 20px;
}

.run-errors {
	display: inline-block;
	margin: 10px 50px 0 50px;
	color: #C22626;
}

.build-errors {
	margin-top: 15px;
	font-size: 90%;
	line-height: 150%;
	color: #C22626;
}

.test-list td, .test-list th {
	text-align: left;
	padding: 0 10px 0 0;
	font-size: 14px;
}
.test-list th {
	padding-bottom: 5px;
}
.test-list td {
	line-height: 150%;
}
.test-list .outcome {
}
.test-list .error-message {
	// color: #C22626;
	color: #d04c4c;
	font-size: 13px;
}
.test-list .output-link {
	font-size: 90%;
}
.test-list .stderr-link a {
	color: #C22626;
}

.test-link {
	text-decoration: none;
	color: #333333;
}
.test-link:hover {
	text-decoration: underline;
}

.test-list .error-link {
	color: #C22626;
	text-decoration: none;
}
.test-list .error-link:hover {
	text-decoration: underline;
}

.scalability-link-block {
	padding: 10px;
	font-size: 110%;
}
.scalability-link-block a {
	font-weight: bold;
	font-style: italic;
}
