.fail-list {
	border-spacing: 0 5px;
}

. test-select-form
{
	border-spacing: 0 5px;
}

.test-select-form td, .test-select-form th {
   padding: 6px;
   white-space: nowrap;
}

.test-select-form tr {
  padding: 6px;
}

.fail-list tr {
	padding: 6px;
	background-color: #FFF;
}

.fail-list th {
	border-right: 1px solid #DDD;
}

.fail-list td {
}

.fail-list td.axiz {
	border-left: 1px solid #DDD;
	padding-left: 10px;
}

.fail-list td.center, .fail-list th.center {
	text-align: center;
}


.fail-list td, .fail-list th {
	padding: 5px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.fail-list-cell {
	border-right: 1px solid #DDD;
}

.fail-list td div {

}

.total-records div {
  padding: 6px;
}

