
.axiz {
	font-weight: bold;
	padding: 10px 20px 10px 10px;
	font-size: 14px;
}

th {
	font-weight: normal;
}

td > div > div {
	padding: 2px;
}

td > div.platform-box {
	// margin: 2px;
}

a {
// text-decoration: none;
}

.project-list .platform-box {
	padding: 6px;
	background-color: #FFF;
	margin: 2px;
	border: 1px solid #DDD;
}

.platform-box .datetime {
    font-size: 80%;
	padding: 0 0 5px 3px;
}

.platforms-narrow .outcome {
	display: inline;

}
.platforms-wide .outcome {
	display: inline-block;

}
.outcome {
	padding: 3px 10px 3px 10px;
	margin: 1px;
	font-size: 80%;
}

.platforms-narrow .tests-block {
	display: inline-block;
}
.platforms-wide .tests-block {
	display: block;
	// margin: 0 1px;
	// width: 100px;
}
