cmd.exe /c C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -File a:\setup_networks.ps1
cmd.exe /c C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -File a:\setup_users.ps1
cmd.exe /c C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -File a:\install_packages.ps1
