# DEBUG INFO
#
# {{ networks | to_json }}
#

{% for network in networks %}
  {# TODO: address_domain is not taken into account (anologue in win?) #}
  {# TODO: some values are hardcoded as they are hardcoded in domain xml def. #}
  {% set address_domain   = 0 %}
  {% set address_bus      = 0 %}
  {% set address_slot     = network.address_slot %}
  {% set address_function = 0 %}
# In KVM Domain definition we plugged Eth device into PCI bus and we know exact
# location of every net adapter.
$network_adapter = Get-NetAdapterHardwareInfo | where { $_.BusNumber -eq {{ address_bus }}  -and $_.SlotNumber -eq {{ address_slot }} -and $_.FunctionNumber -eq {{ address_function }}  } | Get-NetAdapter
# Windows does not have standard repr format for mac address, use InterfaceIndex
$net_config = Get-WmiObject -Class 'Win32_NetworkAdapterConfiguration' | Where-Object { $_.interfaceIndex -eq $network_adapter.InterfaceIndex }

  {% if network.config.type == 'static' %}
$net_config.EnableStatic('{{ network.config.options.address }}', '{{ network.config.options.netmask }}')
    {% if network.config.options.gateway is defined %}
$net_config.SetGateways('{{ network.config.options.gateway }}', 1)
$net_config.SetDNSServerSearchOrder('{{ network.config.options.gateway }}')
    {% endif %}
  {% endif %}
{% endfor %}
