sed -i 's/.*PubkeyAuthentication .*/PubkeyAuthentication yes/' /etc/sshd_config
sed -i 's/.*LogLevel .*/LogLevel DEBUG/' /etc/sshd_config
net stop sshd
net start sshd
mkdir -p ~/.ssh/

{% for key in kvm_guest__default_user_ssh_authorized_keys %}
echo '{{ key }}' >> ~/.ssh/authorized_keys
{% endfor %}

chmod 700 ~/.ssh
chmod 600 ~/.ssh/authorized_keys
