[defaults]
inventory = ./inventory-local.ini
host_key_checking = False
roles_path = roles/local:roles/galaxy
# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

[ssh_connection]
pipelining = True
#ssh_args = -C -o ControlMaster=no -o ControlPersist=60s
