{% extends "layout.html" %}
{% block title %}Runs{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='branch_matrix.css') }}">
{% endblock head %}


{% macro run_link(name, run) %}

  <a {% if run -%} href="{{ url_for('branch_version_list', branch_name=run.branch.name, platform_name=run.platform.name) }}" {%- endif %}
     class="outcome outcome-{{ run.outcome|default('not-run', true) }} {% if run -%} has-run {%- endif %}">
     {{ name }}
  </a>

{% endmacro %}


{% block contents %}

  {% if not branch_table %}
    <p>No runs executed yet</p>
  {% else %}

    <table>
      <tr>
        <th></th>
        {% for platform in platform_list %}
        <th class="axiz">
          <a class="link"
             href="{{ url_for('platform_branch_list', platform_name=platform.name) }}">
            {{ platform.name }}
          </a>
        </th>
        {% endfor %}
      </tr>
      {% for row in branch_table %}
        <tr>
          <td class="axiz">
            <a class="link"
               href="{{ url_for('branch_platform_list', branch_name=row.branch_name) }}">
              {{ row.branch_name }}
            </a>
          </td>
          {% for element in row.platform_list %}
            <td>
              <div class="top-level-box">
                <div>
                  {{ element.started_at|format_datetime(precise=False)|default('-', true) }}
                </div>
                <div>
                  {{ run_link('build', element.build.run) }}
                  {{ run_link('unit', element.unit.run) }}
                  {{ run_link('functional', element.functional.run) }}
                </div>
              </div>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

{% endif %}

{% endblock contents %}
