{% import "run_macros.html" as run_macros %}

{% extends "layout.html" %}
{% block title %}{{ branch_name }} / {{ platform_name }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='run.css') }}">
{% endblock head %}

{% block contents %}

  {{ run_macros.header(branch_name, platform_name) }}

  <hr>

  <div>
    {% for rec in version_list %}
      <div class="white-box">
        <div class="list-row-box">
          <a class="link"
             href="{{ url_for('version_run_list', branch_name=branch_name, platform_name=platform_name, version_name=rec.version) }}">
            {{ rec.version }}
          </a>
          {{ run_macros.run_link('build', rec.build) }}
          {{ run_macros.run_link('unit', rec.unit) }}
          {{ run_macros.run_link('functional', rec.functional) }}
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock contents %}
