{% import "run_macros.html" as run_macros %}

{% extends "layout.html" %}
{% block title %}{{ run_name }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='run.css') }}">
{% endblock head %}


{% block contents %}

  <a href="{{ url_for('branch_list') }}">Branches</a>
  <br>
  <a href="{{ url_for('run_list') }}">Runs</a>

  <h2>{{ run_node.run.branch.name }} / {{ run_node.run.platform.name }}</h2>

  <hr>

  <div class="run white-box">
    {{ run_macros.run_box(run_node, expand_level=1) }}
  </div>

{% endblock contents %}
