{% import "run_macros.html" as run_macros %}
{% import "common_macros.html" as common_macros %}

{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='run.css') }}">
{% endblock head %}

{% block contents %}

  {% if run_node_list %}

    <div>
      <ul>
        {{ run_macros.run_box_children(run_node_list, 'top-level-box') }}
      </ul>
    </div>

  {% else %}
    <p>No runs executed yet</p>
  {% endif %}

{% endblock contents %}
