[General]
# Server list is a comma separated ip:port address list, eg : 123.123.123.123:12345,124.124.124.124:12345
serverList=10.1.5.123:7001
#serverList=192.168.109.12:7001
clusterTestSleepTime=5
mergeTestTimeout=10
threadNumber=32
username=admin
password=123
testCaseSize=10
[Rtsp]
#threadNumbers=800
threadNumbers=800
archiveDiffMax=0
archiveDiffMin=0
timeoutMax=30
timeoutMin=2
rtspTimeout=5
rtspCloseTimeout=10
[PerfTest]
frequency=100

