[General]
# Server list is a comma separated ip:port address list, eg : 123.123.123.123:12345,124.124.124.124:12345
#serverList=127.0.0.1:7001
serverList=192.168.109.12:7001
clusterTestSleepTime=5
mergeTestTimeout=10
threadNumber=32
username=admin
password=123
testCaseSize=10
[Rtsp]
threadNumbers=100
archiveDiffMax=0
archiveDiffMin=0
timeoutMax=30
timeoutMin=1
[PerfTest]
# This value means how many operations will be issued AT MOST in one seconds, the bigger the more
frequency=100

