[General]
# Server list is a comma separated ip:port address list, eg : 123.123.123.123:12345,124.124.124.124:12345
serverList=127.0.0.1:7001
#serverList=10.1.5.143:7001
#serverList=192.168.109.12:7001,192.168.109.13:7001
clusterTestSleepTime=5
mergeTestTimeout=10
threadNumber=16
username=admin
password=admin
testCaseSize=10
[Rtsp]
# comma separated list, number of threads for each server from serverList
threadNumbers=25
# How far into the past ask for archive data. Min and max offset (in minutes) for random moment generation.
# Offset == 0 means live data stream request.
archiveDiffMax=20
archiveDiffMin=3
timeoutMax=50
timeoutMin=10
# number of test for --rtsp-test, comment it to run infinite test
testSize=10 
rtspTimeout=5
httpTimeout=10
camerasStartGrace=10
#rtspCloseTimeout=5
# pause after each SingleServerRtspPerf thread start, seconds:
threadStartSpacing=0.8
# extra time after closing a socket before opening another one (let a server perform it's after-socket-close job), seconds:
socketCloseGrace=1.0
# Don't receive more than this amount of archive data per second:
archiveStreamRate=3M
# Percentage of live data requests in the test (the other part is archive data)
# A whole number from 0 to 100 (0 means only archive, 100 -- only live), default is 50
liveDataPart=100
[PerfTest]
# This value means how many operations will be issued AT MOST in one seconds, the bigger the more
frequency=100
