
body, table, form, input, td, th, p, textarea, select
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height:1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, table, form, td, th, p
{
  color: #333;
}

/* colored classes */
.error {
    color: #CC0000;
    font-weight: bold;
}

.warning {
    color: #C4A000;
    font-weight: bold;
}

.success {
    color: #006400;
    font-weight: bold;
}
