.UTTable
{
  border-collapse:collapse;
}

.UTTable tr:nth-child(n+2) td:nth-child(3)
{
  border-top: 1px solid #f0f0f0;

}

.Selected
{
  background-color:#f0f0f0;
}

/* colored classes */

td.total {
    font-weight: bold;
    text-align: center;
}

td.error {
    color: #CC0000;
    font-weight: bold;
    text-align: center;
}

td.skip {
    color: #C4A000;
    font-weight: bold;
    text-align: center;
}

td.pass {
    color: #006400;
    font-weight: bold;
    text-align: center;
}
